<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-HzUaiJdCTIY/RL2vDPRGdEQHHahjzwoJJzGUkYjHVzTwXFQ2QN/nVgX7tzoMW3Ov" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css" charset="utf-8">
        <title>Day from Date Finder</title>
    </head>
    <body>
        <div class="container">
            <h1>Day from Date Finder</h1>


            <form action="/" method="post">
                <label for="userInput"></label>
                <select name="day">
                    <option name="day" value="1">1</option>
                    <option name="day" value="2">2</option>
                    <option name="day" value="3">3</option>
                </select>
                <select name="month">
                    <option name="month" value="1">1</option>
                    <option name="month" value="2">2</option>
                    <option name="month" value="3">3</option>
                </select>
                <input type="number" name="year">

                <button type="submit" class="btn btn-success">Submit!</button>
            </form>

            {% if result is not empty %}
                <h4>Your Score is: {{result}}<h4>
            {% endif %}

        </div>
    </body>
</html>
